################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetCoreSummary
/NetCoreSummary/bin/Debug/netcoreapp3.1
/NetCoreSummary/obj
